<section id="exercises" class="exercises">
      <div class="container">

        <div class="section-title">
          <h1>Band Exercises</h1>
    
          {{#each exercises as |exercise|}}
            {{> band-details exercise}}
            {{/each}}  

        </div>

      </div>
    </section>