 {{!-- Hero --}}
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
      <h1>Welcome to XYZ</h1>
      <h3 class="hcolor">Please login to view exercises!</h3>

      {{!-- Login Button  --}}
      <button type="button" class="btn btn-info btn-round" data-toggle="modal" data-target="#loginModal" id="login">Login</button>  

     {{!-- Login Form --}}
     <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header border-bottom-0">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-title text-center">
              <h4>Login</h4>
            </div>
            <div class="d-flex flex-column text-center">
             <form action="/users/login" method="POST">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Enter Password"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">Login</button>
      </form>
              <div class="text-center text-muted delimiter">or use a social network</div>
              <div class="d-flex justify-content-center social-buttons">
                <button type="button" class="btn btn-secondary btn-round" data-toggle="tooltip" data-placement="top" title="Twitter">
                  <i class="bx bxl-twitter"></i>
                </button>
                <button type="button" class="btn btn-secondary btn-round" data-toggle="tooltip" data-placement="top" title="Facebook">
                  <i class="bx bxl-facebook"></i>
                </button>
                <button type="button" class="btn btn-secondary btn-round" data-toggle="tooltip" data-placement="top" title="Linkedin">
                  <i class="bx bxl-linkedin"></i>
                </button>
              </di>
            </div>
          </div>
        </div>
          <div class="modal-footer d-flex justify-content-center">
            <div class="signup-section">Not a member yet?</div>
            {{!-- Sign Up Button  --}}
      <button type="button" class="btn btn-info btn-round" data-toggle="modal" data-target="#signupModal" id="login">Sign Up</button>  

          </div>

      </div>
    </div>
    </div>

    {{!-- signup --}}
    {{!-- Login Form --}}
     <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header border-bottom-0">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-title text-center">
              <h4>Sign Up</h4>
            </div>
            <div class="d-flex flex-column text-center">
             <form action="/users/register" method="POST">
              <div class="form-group">
          <label for="first_name">First Name</label>
          <input
            type="text"
            id="first_name"
            name="first_name"
            class="form-control"
            placeholder="First Name"
          />
        </div>
         <div class="form-group">
          <label for="last_name">Last Name</label>
          <input
            type="text"
            id="last_name"
            name="last_name"
            class="form-control"
            placeholder="Last Name"
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Enter new Password"
          />
        </div>
           <div class="form-group">
          <label for="password">Confirm Password</label>
          <input
            type="password"
            id="password2"
            name="password2"
            class="form-control"
            placeholder="Confirm Password"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
      </form>
             
    </div>
    </div>
    </div>

    
  </section>
{{!-- End Hero --}}
