<div class="container" id="signupform">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 well well-sm">
            <h2>Sign up!</h2>
            <form action="#" method="post" class="form" role="form">
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <input class="form-control" name="firstname" placeholder="First Name" type="text"
                        required autofocus />
                </div>
                <div class="col-xs-6 col-md-6">
                    <input class="form-control" name="lastname" placeholder="Last Name" type="text" required />
                </div>
            </div>
            <input class="form-control" name="youremail" placeholder="Your Email" type="email" />
            <input class="form-control" name="password" placeholder="New Password" type="password" />
             <input class="form-control" name="reenterpassword" placeholder="Re-enter Password" type="password" />
          
           <br />
            <br />
            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            
             <div class="modal-footer d-flex justify-content-center">
            <div class="signup-section">Already a member? <a href="/login" class="text-info">Login</a></div>
          </div>
            </form>
        </div>
    </div>
</div>